<footer>By <a href="https://github.com/mkelley2">Matt Kelley</a> &amp; <a href="https://github.com/Michaela-Davis">Michaela Davis</a> &amp; <a href="https://github.com/Evan-Alexander">Jason Brown</a> &amp; <a href="https://github.com/Xesme">Xia Amendolara</a></footer>
