<!DOCTYPE html>
<html>
    {% include '/components/head.html.twig' %}
    <body>
        <div class="container">
            {% include '/components/navbar.html.twig' %}

            <h1 class="title">{{author.getLastName}}, {{author.getFirstName}}</h1>
            <table class="table table-striped table-hover ">
                  <thead>
                    <tr>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>Book Title</th>
                    </tr>
                  </thead>
                  <tbody>
                          {% if all_books is not empty %}
                          {% set count = 0 %}
                          {% for book in all_books %}
                          {% set count = count + 1 %}
                          <tr>
                          <td>{{ count }}</td>
                          <td>{{ book.title }}</td>
                      </tr>
                          {% endfor %}
                          {% endif %}
                  </tbody>
                </table>

            {% include '/components/footer.html.twig' %}
        </div>
    </body>
</html>
