<!DOCTYPE html>
<html>
    {% include '/components/head.html.twig' %}
    <body>
        <div class="container">
            {% include '/components/navbar.html.twig' %}
            <h1>
                Welcome to CodeFusion <br>
                Answers are the elixer for what ails ya.
            </h1>



            {% include '/components/footer.html.twig' %}
        </div>
    </body>
</html>
