<!DOCTYPE html>
<html>
    {% include '/components/head.html.twig' %}
    <body>
        <div class="container">
            {% include '/components/navbar.html.twig' %}
            <div id="post-wrapper">
                <div class="title jumbotron">
                    <h1>
                        Welcome to CodeFusion <br>
                        Answers are the elixer for what ails ya.
                    </h1>
                </div>
                <div id="posts" class="well">
                    <div class="panel panel-default">
                      <div class="panel-heading">Posts</div>
                      <div class="panel-body">
                          <p>Lorem ipsum dolor sit amet, eos et epicurei officiis. Summo graece voluptua sea cu, mei no audire molestiae interpretaris. Quot omnesque nam cu, modo cetero appareat eu sit, scripta temporibus vis ut. Aeque option praesent pri ut, vide complectitur eos in, doctus laoreet expetenda eu eam. Ei eos euismod intellegam, graece vivendum intellegat nec eu.</p>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Delete</button>
                        <button type="button" class="btn btn-primary">Comment</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Edit</button>
                        <button type="button" class="btn btn-primary">Rank Up</button>
                        <button type="button" class="btn btn-primary">Rank Down</button>
                      </div>
                    </div>
                </div>
                <div class="well" id="comment-holder">
                    <div class="panel panel-default">
                        <div class="panel-heading">Comments</div>
                        <div class="panel-body" id="comments-here">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row">
                                        <p>
                                            Lorem ipsum dolor sit amet, eos et epicurei officiis. Summo graece voluptua sea cu, mei no audire molestiae interpretaris. Quot omnesque nam cu, modo cetero appareat eu sit, scripta temporibus vis ut. Aeque option praesent pri ut, vide complectitur eos in, doctus laoreet expetenda eu eam. Ei eos euismod intellegam, graece vivendum intellegat nec eu.
                                        </p>
                                        <p>
                                            Lorem ipsum dolor sit amet, eos et epicurei officiis. Summo graece voluptua sea cu, mei no audire molestiae interpretaris. Quot omnesque nam cu, modo cetero appareat eu sit, scripta temporibus vis ut. Aeque option praesent pri ut, vide complectitur eos in, doctus laoreet expetenda eu eam. Ei eos euismod intellegam, graece vivendum intellegat nec eu.
                                        </p>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Delete</button>
                                        <button type="button" class="btn btn-primary">Comment</button>
                                    </div>

                                </div>
                                <div class="col-md-8">
                                    <div id="append-comments">
                                        <p>Lorem ipsum dolor sit amet, eos et epicurei officiis. Summo graece voluptua sea cu, mei no audire molestiae interpretaris. Quot omnesque nam cu, modo cetero appareat eu sit, scripta temporibus vis ut. Aeque option praesent pri ut, vide complectitur eos in, doctus laoreet expetenda eu eam. Ei eos euismod intellegam, graece vivendum intellegat nec eu.</p>
                                    </div>

                                    <button type="button" class="btn btn-default" data-dismiss="modal">Edit</button>
                                    <button type="button" class="btn btn-primary">Rank Up</button>
                                    <button type="button" class="btn btn-primary">Rank Down</button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            {% include '/components/footer.html.twig' %}
        </div>
    </body>
</html>
