<!DOCTYPE html>
<html>
    {% include '/components/head.html.twig' %}
    <body>
        <div class="container">

            {% include '/components/navbar.html.twig' %}
            <div id="post-wrapper">
                <div class="title jumbotron">
                    <h1 class="welcome">Welcome to CodeFusion</h1>
                    <h2 class="welcome">Answers are the elixer for what ails ya.</h2>
                </div>

                <div id="announcements" class="well">
                    <div class="panel panel-default">
                      <div class="panel-heading">Announcements</div>
                      <div class="panel-body">
                          <h2>Create a user account to be able to post or comment on CodeFusion!</h2>
                      </div>
                    </div>
                </div>

                <div id="posts" class="well">
                    <div class="panel panel-default">
                      <div class="panel-heading">Top Categories</div>

                      <div class="panel-body">
                          {% if all_categories is not empty %}
                          {% for category in [all_categories][0:4]%}
                          {% for category in all_categories %}

                            <a class="topGenerated" href="/category/{{category.getCategory}}">{{ category.getCategory }}</a> <br>

                        {% endfor %}
                        {% endfor %}
                        {% endif %}
                      </div>
                    </div>
                </div>

                <div class="well" id="comment-holder">
                    <div class="panel panel-default">
                        <div class="panel-heading">Top Threads</div>
                        <div class="panel-body" id="comments-here">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="row">
                                        {% if all_threads is not empty %}
                                        {% for thread in all_threads %}

                                          <!-- link goes here -->

                                      {% endfor %}
                                      {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div id="append-comments">
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>


            {% include '/components/footer.html.twig' %}

        </div>
    </body>
</html>
