<!DOCTYPE html>
<html>
    {% include '/components/head.html.twig' %}
    <body>
        <div class="container">
            {% include '/components/navbar.html.twig' %}

            <h1 class="welcome">Welcome to CodeFusion</h1>
            <h2 class="welcome">Answers are the elixer for what ails ya.</h2>




            {% include '/components/footer.html.twig' %}
        </div>
    </body>
</html>
