<!DOCTYPE html>
<html>
    {% include '/components/head.html.twig' %}
    <body>
        <div class="container">
            {% include '/components/navbar.html.twig' %}

            <h1>
                Welcome to Da Libaree <br>
                We help you get good at read
            </h1>



            {% include '/components/footer.html.twig' %}
        </div>
    </body>
</html>
