<!DOCTYPE html>
<html>
    {% include '/components/head.html.twig' %}
    <body>
        <div class="container">
            {% include '/components/navbar.html.twig' %}

            <div class="post">
                <!--  text will be generated here  -->
                <div class="post-right">
                    <form action="/THIS NEEDS A ROUTE" method="post">
                        <button type="submit" name="delete-button"><img src="/delete.png"></button>
                    </form>
                    <form class="" action="/THIS NEEDS A ROUTE" method="post">
                        <button type="submit" name="edit-button"><img src="/edit.png"></button>
                    </form>
            </div>
            </div>
            <div class="new_comment">
                <form action="/category/{{ specific_category.getCategory }}/{{ sepcific_thread.getId }}" method="post">
                    <input type="hidden" name="inputParent" value="null">
                    <input type="textarea" name="inputComment" value="">
                    <button class="btn btn-primary" type="submit" name="button">Submit</button>
                </form>
            </div>
            <div class="comment-holder">
                <!-- comments will be generated here -->
            </div>
            {% include '/components/footer.html.twig' %}
        </div>
    </body>
</html>

      <button class="button-add" type="submit" name="button"><img src="/new_comment.png">&nbsp add a new thread</button>
