<!DOCTYPE html>
<html>
    {% include '/components/head.html.twig' %}
    <body>
        <div class="container">
            {% include '/components/navbar.html.twig' %}

            <!-- put thread info and comment div here -->



            {% include '/components/footer.html.twig' %}
        </div>
    </body>
</html>
