body, h1, h2 {
    font-family: 'Slabo 27px', serif;
}

h2 {
    font-size: 35px;
}

/*This is for ALL buttons like, dislike, etc that ARE NOT for submit*/
button.button-add {
    /*background-image: url('/new_comment.png');*/
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    /*height: 16px;
    padding-left: 16px;*/
    vertical-align: middle;
}


/*end of buttons*/

/* This is for buttons with lower RIGHT placement */
.post-right {
    /*background-color: #fff;*/
    border: #fff;
    float: right;

}
/*end of placement lower RIGHT buttons*/
.row {
    /*text-align: center;*/
}

.col-sml-1 {
    border: #fff;
    margin: 25px;
}
/* This is for lower LEFT buttons */

.post-left {
    background-color: #fff;*/
}

/* end of LEFT POST*/

/* post for thread page */
.thread-post {
    color: #fff;
}
/* end of post for thread page*/


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: black;
}
/* end of sticky footer */

th {
    font-size: 1.5em
}

td {
    font-size: 1.5em
}

.well,
.title,
.jumbotron,
.panel,
.panel-heading,
.panel-body {
    font-family: 'Slabo 27px', serif;
}

.welcome {
    text-align: center;
}

.title {
    font-family: 'Slabo 27px', serif;
    font-size: 2em;
    letter-spacing: 1px;
}

.tbl-edit, .tbl-del {
    float: right;
    margin-bottom: 0;
}


.btn-primary {
    color: #ffffff;
    background-color: #339999;
    border-color: #339999;
}


.topGenerated {
    padding-left: 30px;
    font-size: 2em;
}

#announcements {
    text-align: center;
    font-size: 2em;
}

#newCopies {
    color: black;
}

#bs-example-navbar-collapse-2 {
    position: relative;
}

.userIcon {
  margin: 0;
}

.navbar-form {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

/*for when user is logged out*/
.logged-out {
  font-size: 2em;
  float: right;
}

/* ORANGE for when user is logged IN */
.fa-user-circle-o {
  font-size: 2em;
  float: right;
  color: #ff8800;
}

.comment {
  margin-left: 10%;
}
