body, h1 {
    font-family: 'Slabo 27px', serif;
}

h2 {
    font-family: 'Slabo 27px', serif;
    font-size: 35px;
}

footer {
    position: absolute;
    bottom: 0;
}

th {
    font-size: 1.5em
}

td {
    font-size: 1.5em
}

.welcome {
    text-align: center;
}

.title {
    font-family: 'Slabo 27px', serif;
    font-size: 2em;
    letter-spacing: 1px;
}

.tbl-edit, .tbl-del {
    float: right;
    margin-bottom: 0;
}


.btn-primary {
    color: #ffffff;
    background-color: #339999;
    border-color: #339999;
}

#newCopies {
    color: black;
}

/**********
USER DROPDOWN
**********/
#bs-example-navbar-collapse-2 {
    position: relative;
}
#user-dropdown {
    position: absolute;
    right: 23%;
    top: -10%;
}

.fa-user-circle-o {
  font-size: 2em;
}
